<h1>
	clinic reg. page
</h1>

<form action = "/clinic-register" method = "POST">
	<input class="myInput" type ="text" name = "clinicName" placeholder="clinicName">
	<input class="myInput" type ="text" name = "city" placeholder="city">
	<input class="myInput" type ="text" name = "address" placeholder="address">
	<input class="myInput" type ="text" name = "contact" placeholder="contact">
	<input class="myInput" type ="text" name = "fees" placeholder="fees">
	<input class="myInput" type ="text" name = "category" placeholder="category">
	<input class="myInput" type ="text" name = "appTime" placeholder="appTime">
	
	<button>Submit</button>
</form>