<h1>
	clinic reg. page
</h1>

<form action = "/clinicregister" method = "POST">
	<input class="myInput" type ="text" name = "clinicName" placeholder="clinicName">
	<input class="myInput" type ="text" name = "city" placeholder="city">
	<input class="myInput" type ="text" name = "address" placeholder="address">
	<input class="myInput" type ="text" name = "contact" placeholder="contact">
	<input class="myInput" type ="text" name = "fees" placeholder="fees">
	<input class="myInput" type ="text" name = "category" placeholder="category">
	<input class="myInput" type ="text" name = "appTime" placeholder="appTime">
	<input class="myInput" type ="text" name = "emergencyServ" placeholder="provides emergency services ??">
	<button>Submit</button>
</form>