<h1>
	patient reg. page
</h1>

<form action = "/patientregister" method = "POST">
	<input class="myInput" type ="text" name = "name" placeholder="name">
	<input class="myInput" type ="text" name = "city" placeholder="city">
	<input class="myInput" type ="text" name = "address" placeholder="address">
	<input class="myInput" type ="text" name = "contact" placeholder="contact">
	<input class="myInput" type ="text" name = "age" placeholder="age">
	<input class="myInput" type ="text" name = "gender" placeholder="gender">
	<button>Submit</button>
</form>