<h1>
	Signup page
</h1>

<form action="/register" method="POST">
	<input type="text" placeholder="username" name="username">
	<input type="password" placeholder="password" name="password">
	<input type="password" placeholder="enter again your password">	
	<button type="submit">Login</button>
</form>